{% extends 'parent.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block body %}
{% block main %}

       <table class="table table-striped">
            <tr>
                <th>Classe</th>
                <th>Professeur Principal</th>
            
            </tr>
            {% for teacherInfo in teacher %}
            <tr>
                {% if teacherInfo.headSchoolClass.level is defined and teacherInfo.headSchoolClass.level is not null %} 
                <td> <a class="mr-3 " href="{{ path('class_detail', { 'id': teacherInfo.headSchoolClass.id }) }}"> {{ teacherInfo.headSchoolClass.level }} </a></td>
                <td>{{ teacherInfo.lastName }} {{ teacherInfo.firstName }}</td>
            
            {% endif %}                    
            </tr>
            {% endfor %}
        </table>
{% endblock%}
{% endblock %}
