{% extends 'parent.html.twig' %}

{% block title %}Hello SchoolClassController!{% endblock %}

{% block body %}
{% block main %}

<div class="example-wrapper">
   
            
           
        </tr>
        {%for schoolInfo in schoolClass %}
        
             {{schoolInfo.level | capitalize }}
        
                {% for teacher in schoolInfo.first_teacher  %}
                    {{ teacher }}
                {% endfor %}
            
           
        {% endfor %}
    

</div>
{% endblock%}
{% endblock %}
