{% extends 'parent.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
{% block main %}

     <h1 class="text-center">Bienvenu sur site du college</h1>
{% endblock%}
{% endblock %}
