{% extends 'parent.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
{% endblock %}
{% block body %}
{% block main %}


<h2 class="text-center">Formulaire</h2>

<form method="post">
<p>
{{ form_label(form.appreciation, 'appreciation : ') }}
{{ form_widget(form.appreciation, { attr : { placeholder: 'appreciation ', autofocus : 'autofocus'}}) }}
</p>



<p>
    <input type="submit" />
</p>

</form>


{% endblock%}
{% endblock %}
