<!DOCTYPE html>
<html>
    <head>
        
        <title>
            {% block title %} Page Symfony : {% endblock%}
        </title>
        <meta charset="utf-8">
        
      
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    </head>
    <body>
        
        <div class="container ">
            {% include 'inc/nav.html.twig' %}
            
            {# Création de bloc #}
           
                {% block aside %}{% endblock%}
                {% block main %}{% endblock%}
            
            
            
        </div>


        <script src="{{ asset('js/jquery.min.js')}}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
    </body>
</html>
