<nav class="navbar navbar-light bg-secondary">
  <span class="navbar-brand  text-white"><a class="text-white" href="/">Accueil</a></span>
  
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        
        <a class="mr-3 text-white" href="{{ path('class_list') }}">Classes</a>
        <a class="mr-3 text-white"href="{{ path('teachers_list') }}">Enseignants</a> 
        <a class="mr-3 text-white"href="{{ path('student_list') }}">Eleves</a> 
        <a class="mr-3 text-white" href="{{ path('student_form') }}">Ajouter un eleve</a> 
      </li>
    </ul>
</nav>
